html {
    font-size: 10px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif; 
}

nav {
    width: 90%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav a {
    color: rgb(0, 0, 0);
    font-size: 2rem; 
    text-decoration: none;
    padding-right: 2rem;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem;
}

button {
    background-color: #333;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.display-flex {
    display: flex;
}

.margin {
    margin: 0 10rem; 
}

.border-login {
    border-radius: 0.5rem;
    border: solid rgb(5, 126, 240) 1px;
}

.color-login {
    color: rgb(5, 126, 240);
}

.size-logo {
    width: 10.5rem; 
    height: auto;
}

/* Body */
.container {
    width: 100%;           
    height: 40rem;          
    background-image: url('../image/Hero Section.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 15px;
}
.section{
    width: 80%; 
    margin: 0 auto; 
    padding: 1rem; 
}

.text-center {
    text-align: center;
    padding-top: 5rem;
    font-size: 3rem;
}

.paragraphe-center {
    text-align: center;
    padding-top: 5rem;
}

table {
    border-collapse: collapse; 
    margin: 2rem auto; 
    background: linear-gradient(to right, #f9f9f9, #eaeaea); 
    border-radius: 0.8rem; 
    padding: 1.5rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

td {
    padding: 1.5rem; 
}

select {
    width: 100%; 
    padding: 1rem; 
    border-radius: 0.8rem; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    font-size: 1rem; 
    color: #333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    outline: none;
    cursor: pointer; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

select:hover {
    border-color: #999;
}

input[type="number"] {
    width: 100%; 
    padding: 1rem; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    font-size: 1rem; 
    color: #333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    outline: none; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input[type="number"]:hover {
    border-color: #999; 
}

.centre-titre {
    text-align: center;
    font-size: 3rem;
}

.margin-section {
    width: 80%; 
    margin: 0 auto; 
    padding: 1rem; 
}

.center-div {
    justify-content: center;
    margin: 0 auto; 
    padding: 1rem; 
}
.recently-position{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.espace-pictures {
    padding: 1rem;
}

.blog-espace {
    padding-right: 10rem;
}

.fixer-blog {
    padding: 3rem;
}

.margin-paragraphe {
    padding: 1.5rem;
}

.dollar {
    background-color: #565555;
    color: #eaeaea;
    border-radius: 15px;
} 

.text-gray {
    color: #565555;
}

.border-blog {
    border: solid gray 1px;
    border-radius: 15px;
}

.blog-modifier {
    padding: 4.5rem;
}

.margin-blog {
    margin-right: 5rem;
}

.center-contact {
    width: 80%; 
    margin: 0 auto; 
    padding: 1rem; 
    border-radius: 20px;
}

.text-contact-center {
    text-align: center;
    padding-top: 5rem;
    font-size: 3rem;    
}

.paragraphe-contact-center {
    text-align: center;
    padding-top: 5rem;
    margin: 0 2rem; 
    font-size: 1.5rem;
}

.sky-background {
    background-color: #E0F7FA; 
}

.primary-button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 1rem 2rem; 
    font-size: 1.6rem; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin: 5rem auto; /* Center button horizontally */
    display: block; 
    width: fit-content; 
}

.margin-blog-contact {
    margin-bottom: 5rem;
}

.center-footer {
    width: 80%; 
    margin: 0 auto; 
    padding: 1rem; 
    border-radius: 20px;
    font-size: 1.3em;
}

.taille-logo {
    width: 3rem; 
    height: auto;
}

.espace-footer {
    padding: 4rem;
}

a {
    text-decoration: none;
}

.styled-input {
    width: 100%; 
    max-width: 30rem; 
    padding: 1rem; 
    font-size: 1.6rem; 
    border: 2px solid #545f5e; 
    border-radius: 15px; 
    outline: none; 
    transition: border-color 0.3s ease; 
}

/* Page properties */
.taille-Recently {
    font-size: 3rem;
}

.nav-properties {
    margin-top: 10rem;
}

.fixer-ProPerties {
    float: right;
    padding-left: 1rem;
    margin-top: 3rem;
    border: solid black 1px;
    border-radius: 7px;
}

.margin-pic {
    margin-right: 2rem;
}
.fixer-paragraphe{
    padding: 1rem;
}
.modifier-dollar{
    
    margin-top: 5rem;
    margin-left: 2rem;
    background-color: #565555;
    color: #eaeaea;
    border-radius: 15px;
    width: 20%;
    height: 40px;
}
/* Page Blog */
.paragraphe-blog{
    text-align: center;
}
.button-blog{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #007bff;
}
.calefornia{
    text-align: end;
    color: #ccd1d1;
}
.padding-blog{
    padding: 15px;
}
.margin-button-paragraphe{
    margin-top: 3rem;
}